/*reset do css */
*{
    margin:0;
    padding:10px;
}
h1 , p{
    text-align: center;
}
header{
    background-color: rgb(17, 141, 243);
    color: #f7f4f4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
