/*reset do css */
*{
    margin:0;
    padding:10px;
}
h1 , p{
    text-align: center;
}
header{
    background: linear-gradient(rgb(9, 124, 255),rgb(241, 241, 241));
}
body{
    text-align: center;
}
